@media only screen and (max-width: 576px) {
  .parallax-1 {
    width: 90% !important;
  }
  .parallax-2 {
    width: 0 !important;
  }
  .btn-parallax {
    width: 300px !important;
  }
  .time-24,
  .time-28 {
    display: none;
  }
}
